$white: #fff;
$notification_grey: #8e8e8e;
$notification_grey_faded: #e6e6e6;
$notification_green: #2BDA77;
$notification_green_faded: #d5ffe7;
$notification_yellow: #ffcb30;
$notification_yellow_faded: #fff3d1;
$notification_orange: #FF982E;
$notification_orange_faded: #fee6cf;
$notification_red: #DC3231;
$notification_red_faded: #ffdfde;
